#title{
    height: 90px;
    width: 100%;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#title-left{
    height: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
#title-center{
    height: 60px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: antiquewhite;

}
#title-right{
    height: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;

}
#left-head{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    background-image: url("../img/没鸡鸡.jpg");
    background-position: center;
    background-size: cover;

}
#left-font{
    font-size: 16px;
    color: antiquewhite;
}

#right-image{
    height: 24px;
    width: 24px;
background-image: url("../img/放大镜.svg");
    background-size: cover;
    background-position:center ;position: relative;
    margin: 8px;



}
#right-index{
    height: 75%;
       width: 75%;

    position: absolute;top: 100px;left: 95px;
    display: none;
    border-radius: 10px;
}
#hh1{

    height: 40px;width: 100%;display: flex;justify-content: flex-start; align-items: center;border-radius: 10px;
    border: 2px solid cadetblue;
}



#h1{height: 100%;width: 100%;border: 3px solid yellowgreen;
    display: flex;flex-flow: column; align-items: center;border-radius: 10px;
    background-position: center;background-size: cover;background-image: url("../img/弹层.jpg");
}
#hhh1{
height: 24px;width: 24px;background-image: url("../img/放大镜.svg");background-size: cover; background-position: center;
    margin: 0px 0px 0px 10px;
}
#hhh1:hover{

    box-shadow: 0px 0px 10px grey;
    color: blue;

}
#hhh2{
height: 30px;width: 75%;margin: 0px 0px 0px 10px;border-radius: 5px;border: 2px solid blue;text-align: left;font-size: 16px;
    color: whitesmoke;
    align-items: center;
}